* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  background-image: linear-gradient(
    to bottom right,
    rgb(212, 0, 131),
    rgb(11, 2, 27)
  );
}

.container {
  width: 50%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card,
.cv_card {
  background-color: rgba(27, 6, 39, 0.815);
  transform-style: preserve-3d;
  width: 30rem;
  border-radius: 20px;
  padding: 1rem 3rem;
  box-shadow: 10px 10px 10px rgba(4, 1, 31, 0.185);
  transition: all 1s ease-out;
}

/* cv page */
.cv_card {
  padding-top: 3rem;
}

.logo {
  min-height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 12rem;
  z-index: 2;
  transition: all 1s ease-out;
}

.circle {
  margin: 1rem;
  width: 12rem;
  height: 12rem;
  background-color: rgb(15, 5, 34);
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.info h1 {
  text-align: center;
  color: rgb(238, 231, 231);
  font-size: 2rem;
  font-weight: 400;
  transition: all 1s ease-out;
}

.info h3 {
  max-width: 80%;
  margin: auto;
  text-align: center;
  font-size: 1.3rem;
  padding-top: 1rem;
  color: rgb(206, 201, 201);
  font-weight: 100;
  transition: all 1s ease-out;
}

.info span {
  color: rgb(255, 0, 157);
}

.buttons > div {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.buttons > div > a {
  box-shadow: 10px 10px 10px rgba(4, 1, 31, 0.329);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0.5rem 2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  color: rgb(15, 1, 15);
  cursor: pointer;
  border-radius: 30px;
  font-weight: 400;
  transition: all 0.5s ease-out;
  z-index: 0;
}

.portfolio :hover {
  background-color: rgb(255, 0, 157);
  color: white;
}

.cv :hover {
  background-color: rgb(245, 231, 37);
  color: white;
}

.contacts :hover {
  background-color: rgb(51, 179, 253);
  color: white;
}

/* cv page */
.home {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 30px;
  color: rgb(15, 1, 15);
  padding: 8px 12px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* cv page */
.home:hover {
  background-color: rgb(255, 0, 157);
  color: white;
}

/* cv page */
.pink :hover {
  background-color: rgb(255, 0, 157);
  color: white;
}

/* cv page */
div > .number > a {
  background-color: rgba(250, 174, 221, 0.945);
  border-radius: 30px;
  cursor: text;
}

/* cv page */
.all {
  animation-name: opacity;
  animation-duration: 4s;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .card {
    max-height: 90vh;
    min-width: 90vw;
  }

  /* .buttons {
    display: flex;
    flex-direction: row;
  } */

  .logo {
    min-height: 9rem;
  }

  .logo img {
    width: 8rem;
  }

  .circle {
    margin: 1rem;
    width: 8rem;
    height: 8rem;
  }

  .info h1 {
    font-size: 1.5rem;
  }

  .info h3 {
    min-width: 90%;
    font-size: 1rem;
    padding-top: 1rem;
  }

  .buttons > div {
    margin-top: 1rem;
  }
}
