* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  background-image: linear-gradient(
    to bottom right,
    rgb(212, 0, 131),
    rgb(11, 2, 27)
  );
}

.container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: rgba(27, 6, 39, 0.815);
  transform-style: preserve-3d;
  max-height: 80vh;
  width: 35rem;
  border-radius: 20px;
  padding: 1rem 3rem;
  box-shadow: 10px 10px 10px rgba(4, 1, 31, 0.185);
  transition: all 1s ease-out;
}

.logo {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 15rem;
  z-index: 2;
  transition: all 1s ease-out;
}

.circle {
  width: 15rem;
  height: 15rem;
  background-color: black;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.info h1 {
  text-align: center;
  color: rgb(238, 231, 231);
  font-size: 2rem;
  font-weight: 400;
  transition: all 1s ease-out;
}

.info h3 {
  max-width: 80%;
  margin: auto;
  text-align: center;
  font-size: 1.3rem;
  padding: 1rem 0rem;
  color: rgb(206, 201, 201);
  font-weight: 100;
  transition: all 1s ease-out;
}

.info span {
  color: rgb(255, 0, 157);
}

.contacts,
.portfolio,
.cv {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.contacts a,
.portfolio a,
.cv a {
  box-shadow: 10px 10px 10px rgba(4, 1, 31, 0.329);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0.5rem 2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  color: rgb(15, 1, 15);
  cursor: pointer;
  border-radius: 30px;
  font-weight: 400;
  transition: all 0.5s ease-out;
  z-index: 0;
}

.portfolio :hover {
  background-color: rgb(255, 0, 157);
  color: white;
  border: none;
}

.cv :hover {
  background-color: rgb(245, 231, 37);
  color: white;
}

.contacts :hover {
  background-color: rgb(51, 179, 253);
  color: white;
}
